@use "variables";
@use "../base/typography";
@use "../abstracts/mixins";

.container{

  position: relative;

  padding: 2rem;
  margin-top: 5rem;

  .container__image {

    margin-bottom: 5rem;

  }

  .content__title, .left__title {

    @include typography.fontJosefin();

    padding-bottom: 2rem;

    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    color: variables.$primary-700;
    white-space: pre-line;
  }

  .content__paragraph {

    @include typography.fontAlata();

    padding: 0 2rem;

    text-align: center;
    line-height: 3rem;
    color: variables.$primary-400;

  }

  .container__right{
    text-align: center;
    margin-top: 1rem;
  }

  .container__flex--mobile{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}
.grid{

  display: none;

}

a{

  position: relative;

}

.container--flex{

  display: flex;

}
.page-limit{

  width: 100%;

}

@include mixins.mq(tabletPortrait){

  .container{

    text-align: center;

    .content__title, .left__title {

      font-size: 5rem;

    }

  }

}

@include mixins.mq(tabletLandscape){

  .container{

    text-align: center;
    padding: 5rem 10rem;

  }

}

@include mixins.mq(laptopSmall){

  .container{

    text-align: left;

    .container__image{

      max-width: 50%;
      margin-bottom: 10rem;

    }

    .container__content{

      max-width: 50%;
      position: absolute;
      bottom: 0;
      right: 10rem;
      background-color: variables.$primary-100;
      padding: 8rem 0 0 8rem;

    }

    .content__paragraph{

      text-align: left;
      padding: 0;

    }

    .content__title, .left__title{

      font-size: 4rem;

    }

    .container__left, .container__right{

      width: 50%;

    }

    .container__right{

      text-align: right;

    }

    .left__title{

      text-align: left;
      white-space: normal;

    }



  }

  .grid{
    display: block;
    padding: 5rem 10rem;
  }

  .grid .page-limit{

    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    // Yes I don't give a fuck about gap usability! ;)

    gap: 2.5rem;

  }

  .container--flex .page-limit{
    display: flex;
  }

}
@include mixins.mq(desktop){

  .page-limit{
    width: calc(1440px - 20rem) !important;
    margin: 0 auto;
    position: relative;
  }

}

