@use "../base/typography";
@use "../abstracts/variables";
@use "../abstracts/mixins";

.flex__card{

  aspect-ratio: 654/240;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-bottom: 2.5rem;
  position: relative;

  &:before{

    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient( to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5) );

  }

  .card__title{

    @include typography.fontJosefin;

    position: absolute;
    z-index: 33;
    bottom: 2rem;
    width: 80%;
    left: 50%;
    transform: translate(-50%, 0);

    font-size: 2rem;
    text-transform: uppercase;
    color: variables.$primary-100;
    white-space: pre-line;

  }

  &:nth-child(1){
    margin-top: 3rem;
  }

  &:nth-last-child(1){
    margin-bottom: 5rem;
  }

}

.grid__card{

  aspect-ratio: 256 / 450;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;

  transition: 0.25s ease-in-out;

  &:hover{

    &::before{

      cursor: pointer;
      background: rgba(255,255,255,0.45);
      color: variables.$primary-700;

      transition: 0.25s ease-in-out;

    }

  }

  .grid__card:hover h3{

    color: black;
    transition: 0.25s ease-in-out;

  }
  &:before{

    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient( to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5) );
    z-index: 1;

  }

  .card__title{

    @include typography.fontJosefin;

    position: absolute;
    z-index: 33;
    bottom: 2rem;
    width: 80%;
    left: 50%;
    transform: translate(-50%, 0);

    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: variables.$primary-100;
    white-space: pre-line;

  }

}

@include mixins.mq(tabletPortrait){

  .flex__card{


  }

}
@include mixins.mq(laptopSmall){

  .flex__card{

    display: none;

  }

}