@use "../abstracts/variables";
@use "../base/typography";
@use "../abstracts/mixins";

.footer{

  margin-top: 8rem;
  padding: 5rem;
  background-color: variables.$primary-700;
  display: flex;
  flex-direction: column;

  div{

    text-align: center;

  }

  .footer__list{

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    margin: 2.5rem 0 4.5rem;

  }

  .list__item{

    @include typography.fontAlata();

    padding: 1.5rem 0;

    & a {

      &::before{@include mixins.link__underline();}

      &:hover::before{@include mixins.link__underline--hover( max-width, 0.5s, ease-in-out );}

      color: variables.$primary-100;
      text-decoration: none;

    }

  }

  .footer__socials{

    display: flex;
    justify-content: space-around;
    flex-direction: row;

    padding: 0 6rem;

  }

  .socials__icon{

      &::before{@include mixins.link__underline();}

      &:hover::before{@include mixins.link__underline--hover( max-width, 0.5s, ease-in-out );}


    img{

      width: 24px;
      height: 24px;

    }

  }

  .footer__rights{

    @include typography.fontAlata();

    padding: 1em 0;

    font-size: 1.5rem;
    color: variables.$primary-400;

  }

  .attribution{
    @include typography.fontAlata;

    font-size: 1.5rem;
    color: variables.$primary-400;

    a{

      color: variables.$primary-100;
      text-decoration: none;
      transition: 0.25s;

      &:hover{

        color: variables.$primary-400;
        transition: 0.25s;

      }

    }

  }

}


@include mixins.mq(tabletPortrait){

  .footer{

    .list__item{

      font-size: 2rem;

    }

  }

}

@include mixins.mq(laptopSmall){

  .footer{

    padding: 5rem 10rem;

    div {

      text-align: left;

    }

    .page-limit{

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

    }

    .footer__left, .footer__right{

      min-height: 70px;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

    }

    .attribution{

      width: 100%;
      text-align: center;
      margin-top: 75px;

    }

    .footer__left{

      img{

        width: 135px;

      }

    }

    .footer__right{

      text-align: right;

    }

    .footer__socials{

      justify-content: flex-end;
      padding: 0;

    }

    .socials__item{

      margin-right: 1em;

      &:nth-last-child(1){

        margin: 0;

      }

    }

    .footer__list{

      margin: 0;
      flex-direction: row;
      justify-content: flex-start;

      & .list__item{

        padding: 0;
        margin-right: 2em;
        font-size: 1.5rem;

      }

    }

    .footer__rights{

      font-size: 1.5rem;
      padding: 0;

    }

  }

}